{% extends "base.html" %}

{% block content %}

      <!-- end Navbar -->
      <!-- content -->

      <div class="container py-2">
        {% for page in pages%}

        <div class="row py-2 px-3 justify-content-center">
          <div class="col-md-3 shadow p-3 m-2">
        <img src="{{ page.img }}" class="card-img-top" alt="...">
        <p></p>
            <h2>{{ page.title }}</h2>
            <p>{{ page.des }}</p>
            <a href="{{ page.path }}.html" class="btn btn-outline-warning">read more..
            </a>

          </div>
       </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
